.formacao
{
    background-color: #141414;
    color: #fff;
}

.formacao-container
{

    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.formacao .subtitulo
{
color: #000;
max-width: 5ch;
}

.formacao-texto
{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.faculdade-lista
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 20px;

}

.faculdade
{
    background: #000;
    padding: 20px;
    border-radius: 4px;
    flex: 1;/* para ficar certinho um do lado do outro */

     /* para tirar o span e alterar ele */
    display: flex; 
    flex-direction: column; /*deixa o flex como coluna */

}

.faculdade-tipo
{
    color: #A3A3A3;
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.faculdade-curso
{
    flex: 1;
    font-size: 1.125rem;
    margin-bottom: 40px;
    line-height: 1.4;
    position: relative;
    
}

.faculdade-curso::before
{
content: "";
display: block;
width:4px ;
height:20px ;
position: absolute;
background: linear-gradient(#B6F829,#67DD0A);
left: -24px;
}

.faculdade-instituicao
{
    font-size: 1.125rem;
    color: #A3A3A3;
}

.cursos
{
    margin-bottom: 60px;
}
.formacao-extra h3
{
font-size: 0.85rem;
line-height: 1.4;
color: #8F8F8F;
text-transform: uppercase;
margin-bottom: 30px;
position: relative;
}

.formacao-extra h3::before
{
    display: block;
    content: "";
    width:24px ;
    height:24px ;
    position: absolute;
    left: -36px;
    top: -4px;


}

.cursos h3::before
{
    background: url(../img/cursos.svg) no-repeat center center;
}

.idiomas h3::before
{
    background: url(../img/idiomas.svg) no-repeat center center;
}

.formacao-extra li{
    font-size:1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.formacao-extra span
{
    color: #8F8F8F;
}

.cursos li
{
    display: flex;
    justify-content: space-between;
}

@media(max-width:800px)
{
    .formacao-container
    {
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .formacao .subtitulo
    {
    color: #fff;    
    }

    .formacao-texto
    {
        font-size: 1.125rem;

    }
    .formacao-extra h3::before
    {
        position: initial;
        margin-bottom: 10px;
    }
}